.total{
	margin-top: 200px;
}
body{
	background-image: url('bambou.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}	
.row{
	width: 32%;
	margin-left: 40%;
	display: flex;
}
.circle, .square, .diamond{
	background-color: #C9F9B8;	
}
.empty{
	background-color: #46B81F;
}
button{
	cursor: pointer;
}
.square{
	margin: 10px;
	padding: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-color: #42802D;
}
.circle{
	margin: 10px;
	padding: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 50px;
	border-color: #42802D;
}
.diamond{
	margin: 10px;
	padding: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid;
	transform:rotate(45deg);
	border-color: #42802D;

}
.btn{
	margin-left: 43%;
}
.select{
	background-color: #C9F9B8 ;
	padding:6px 0 6px 0;
	border-radius:50%;
	/*background:#478bf9;*/
	font:bold 13px Arial;
	color:#387224;
	width:160px;
}
.deselect{
	background-color: #C9F9B8 ;
	padding:6px 0 6px 0;
	border-radius:50%;
	/*background:#478bf9;*/
	font:bold 13px Arial;
	color:#387224;
	width:160px;
}